.header
{
	background-image:url('antarctica.jpg');
	background-size:cover;
	margin-top:-20px;
}
.header .col-md
{
	background-color:#3A5350;
	border-radius:20px;
	height:200px;
	width:200px;
	display:inline-block;
	margin:20px;
	
}